@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color:  rgb(243, 244, 246);
}

.buttons {
  margin: 0 0.5rem;
}

/* Overlay */
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  padding: 1rem 0;
}
